{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
  },
  "env": {
      "browser": true,
      "es6": true,
      "mocha": true,
      "node": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
